/* Estilos globais */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilos dos contêineres */
.container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #fff;
    text-align: center;
}

/* Estilos do Container 3 (resposta do usuário) */
.container:nth-child(3) {
    width: 400px; /* Largura fixa */
    height: 150px; /* Altura fixa */
    border: 2px solid #000;
    margin: 10px;
    background-color: #fff;
    text-align: center;
}

.container:nth-child(2) {
    width: 400px; /* Largura fixa */
    height: 150px; /* Altura fixa */
    border: 2px solid #000;
    margin: 10px;
    background-color: #fff;
    text-align: center;
}




/* Estilos dos botões */
button {
    margin: auto;
    width: 150px; /* Defina o tamanho fixo que desejar */
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #0bdddd, #273b64); /* Gradiente linear de azul */
    background-color: #130303; /* Cor de fallback para navegadores mais antigos */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s; /* Adiciona uma transição suave para a propriedade de opacidade */
}

/* Estilo para a resposta do usuário */
#respostaUsuario {
    font-weight: bold;
}
