/* Estilos globais */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilos dos contêineres */
.container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #fff;
    text-align: center;
}

/* Estilos do Container 3 (resposta do usuário) */




/* Estilos dos botões */
button {
    display: inline-block;
    width: 100px;
    padding: 10px 1px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #0bdddd, #273b64);
    background-color: #130303;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin: 0 10px; /* Adicione essa linha para criar espaço igual à esquerda e à direita de cada botão */
}/* Adicione essa linha para criar espaço entre os botões */



/* Estilo para a resposta do usuário */
#respostaUsuario {
    font-weight: bold;
   
}
